/*
 #ffec1f --> amarillo pato
 #f8b2b2 --> rosa
 #62ecac --> verde agua
 #e63244 --> Fucsia
 #0b205a --> azul marino
 */

body{
  margin: 0;
  font-family: monospace;
  background-color: #010001;
}

.header h1{
  color: white;
  font-size: 65px;
  text-align: center;
}

.columna{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

.cuerpo p{
  font-size: 25px;
  margin: 75px 0px 50px 50px;
  text-align: left;
  color: white;
}

.cuerpo img{
  margin: 0px 0px 50px 275px;
  width: 450px;
}

/* .boton{
  border: solid 3px #e63244;
  background: linear-gradient(90deg, #e63244, #f8b2b2);
  height: 50px;
  border-radius: 50px;
  width: 170px;
  margin: 0px 0px 0px 111px;
}

.boton-content {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 9px 0px 0px 0px;
} */

.regalo{
  width: 440px;
  margin: 100px 0px 0px 68px;
}

.regalo img{
  width: 115px;
  /* margin: 10px 0px 0px 162.5px; */
  margin: 10px 0px 0px 47.5px;
}

.regalo p{
  font-size: 15px;
  /* margin: 10px 0px 0px 115px; */
  margin: 10px 0px 0px 0px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: #ffec1f;
}

.firework{
  text-align: center;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  transform: translateY(-13%);
  z-index: -1;
}
